In [1]:
import pandas as pd

## Solution: Read in the *Gaia* data and the reddening data

In [2]:
gaia_df = pd.read_csv("./data/gaia_distances.csv")
reddenings_df = pd.read_csv("./data/reddenings.csv")

In [11]:
gaia_df.head()

  Star_ID  parallax_mas
0  XX Cen         0.564
1   T Mon         0.733
2  TW Nor         0.362
3  CV Mon         0.602
4  RY Sco         0.754

In [12]:
reddenings_df.head()

  Star_ID   E_B_V     A_V
0  RT Aur  0.1844  0.5717
1  QZ Nor  1.2364  3.8329
2  SU Cyg  0.9989  3.0967
3   Y Lac  0.3880  1.2028
4   T Vul  0.1702  0.5278

In [5]:
gaia_df.shape

(67, 2)

In [6]:
gaia_df.describe()

       parallax_mas
count     67.000000
mean       0.968881
std        0.831380
min        0.211000
25%        0.399000
50%        0.602000
75%        1.242500
max        3.674000

In [7]:
reddenings_df.shape

(54, 3)

In [8]:
reddenings_df.describe()

           E_B_V        A_V
count  54.000000  54.000000
mean    0.791817   2.454624
std     0.492727   1.527478
min     0.053900   0.166900
25%     0.334400   1.036800
50%     0.787700   2.441900
75%     1.175025   3.642675
max     1.909500   5.919500

In [9]:
gaia_df[gaia_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Star_ID, parallax_mas]
Index: []

In [10]:
reddenings_df[reddenings_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Star_ID, E_B_V, A_V]
Index: []