In [1]:
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

import numpy as np
import pandas as pd

cepheids_df = pd.read_csv('./data/big_cepheids_table.csv')

def parallax_to_distance(parallax_mas):
    parallax_arcsec = parallax_mas * 1e-3
    distance = 1./parallax_arcsec
    return(distance)

cepheids_df['distance_pc'] = parallax_to_distance(cepheids_df['parallax_mas'])

## Solution: Calculate the extinction

First set up an array with the wavelengths:

In [2]:
wavelengths = [0.445, 0.806]
## Don't need V as we already know A_V

Now define the function to get $A_{\lambda}/A_V$

In [3]:
def extinction(wavelength, A_V):
    A_l_A_V = (0.7 / wavelength) - 0.273
    A_l = A_l_A_V * A_V
    return(A_l)

Now find the $A_B$ and $A_I$ values:

In [4]:
cepheids_df['A_B'] = extinction(wavelengths[0], cepheids_df['A_V'])
cepheids_df['A_I'] = extinction(wavelengths[1], cepheids_df['A_V'])

You can check your function has worked as expected by comparing your results to the table below:

In [7]:
cepheids_df.head()

,Star_ID,parallax_mas,logP,mag_B,err_B,mag_V,err_V,mag_I,err_I,E_B_V,A_V,distance_pc,A_B,A_I
0,XX Cen,0.564,1.040,8.882,0.019,7.855,0.012,6.754,0.008,0.5223,1.6191,1773.049645,2.104885,0.964152
1,T Mon,0.733,1.432,7.436,0.022,6.187,0.014,5.005,0.010,0.5997,1.8590,1364.256480,2.416763,1.107009
2,TW Nor,0.362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2762.430939,NaN,NaN
3,CV Mon,0.602,0.731,11.681,0.015,10.314,0.010,8.653,0.006,1.4373,4.4556,1661.129568,5.792430,2.653249
4,RY Sco,0.754,1.308,9.568,0.018,8.037,0.012,6.271,0.008,1.2228,3.7907,1326.259947,4.928038,2.257310

[back to the worksheets](ex-calc-extinction)