In [1]:
import pandas as pd

gaia_df = pd.read_csv("./data/gaia_distances.csv")
reddenings_df = pd.read_csv("./data/reddenings.csv")
optical_df = pd.read_csv('./data/optical_data.csv')

cepheids_df = pd.merge(left=gaia_df, right=optical_df, on='Star_ID', how='outer')

## Solution: Add in the reddening columns

We want to do the same kind of merge again to add the columns from the reddening dataframe. This time our left frame will be `cepheids_df` and the right will be `reddenings_df`:

In [2]:
cepheids_df = pd.merge(left=cepheids_df, right=reddenings_df, on='Star_ID', how='outer')

In [3]:
cepheids_df

,Star_ID,parallax_mas,logP,mag_B,err_B,mag_V,err_V,mag_I,err_I,E_B_V,A_V
0,XX Cen,0.564,1.040,8.882,0.019,7.855,0.012,6.754,0.008,0.5223,1.6191
1,T Mon,0.733,1.432,7.436,0.022,6.187,0.014,5.005,0.010,0.5997,1.8590
2,TW Nor,0.362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CV Mon,0.602,0.731,11.681,0.015,10.314,0.010,8.653,0.006,1.4373,4.4556
4,RY Sco,0.754,1.308,9.568,0.018,8.037,0.012,6.271,0.008,1.2228,3.7907
...,...,...,...,...,...,...,...,...,...,...,...
62,delta Cep,3.556,0.730,4.684,0.018,3.990,0.012,NaN,NaN,1.4914,4.6233
63,U Aql,1.748,0.847,7.536,0.016,6.457,0.011,5.279,0.007,0.3334,1.0337
64,eta Aql,3.674,0.856,4.744,0.017,3.918,0.011,3.036,0.007,0.1936,0.6001
65,RT Aur,1.841,0.571,6.120,0.017,5.487,0.011,4.822,0.006,0.1844,0.5717
66,SU Cru,0.211,1.109,11.613,0.015,9.802,0.008,7.658,0.003,NaN,NaN

We should check for missing data again too:

In [4]:
cepheids_df[cepheids_df.isna().any(axis=1)]

,Star_ID,parallax_mas,logP,mag_B,err_B,mag_V,err_V,mag_I,err_I,E_B_V,A_V
2,TW Nor,0.362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,V340 Nor,0.490,1.053,NaN,NaN,8.407,0.005,NaN,NaN,1.2831,3.9778
10,GY Sge,0.346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,WZ Car,0.281,1.362,10.614,0.027,9.343,0.018,8.002,0.011,NaN,NaN
12,CD Cyg,0.393,1.232,10.422,0.025,9.023,0.016,7.525,0.010,NaN,NaN
20,RU Sct,0.521,1.294,11.291,0.023,9.526,0.015,7.486,0.009,NaN,NaN
21,DL Cas,0.581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7936,2.4602
23,CE Cas B,0.331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8207,2.5440
24,SV Vul,0.405,1.653,8.810,0.018,7.267,0.012,5.719,0.009,NaN,NaN
26,V367 Sct,0.470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,U Nor,0.622,1.102,10.939,0.020,9.273,0.013,7.366,0.008,NaN,NaN
34,WZ Sgr,0.607,1.339,9.584,0.023,8.098,0.015,6.584,0.009,NaN,NaN
39,CF Cas,0.315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8207,2.5440
43,CE Cas A,0.331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8207,2.5440
46,S Vul,0.231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9095,5.9195
50,X Sgr,2.822,0.846,5.334,0.013,4.569,0.009,3.663,0.006,NaN,NaN
53,U Vul,1.291,0.903,8.492,0.016,7.149,0.011,5.609,0.007,NaN,NaN
58,U Car,0.559,1.589,7.625,0.025,6.342,0.016,5.076,0.010,NaN,NaN
62,delta Cep,3.556,0.730,4.684,0.018,3.990,0.012,NaN,NaN,1.4914,4.6233
66,SU Cru,0.211,1.109,11.613,0.015,9.802,0.008,7.658,0.003,NaN,NaN

Looks like there are some with missing reddening data too. We're not going to do anything about it right now, but it's always important to check so you know what you're dealing with. 

[back to the worksheets](ex-merging)